tex/master/Bibliography/WfMC/I4.ASAP/awsp.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://www.awsp.info/spec/1.0/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">

    Asynchronous Web Services Protocol

    DRAFT 2002.02.18

    Keith Swenson
    MS2 Inc.
    kswenson@ms2.com

    Jeffrey Ricker 
    Trans-enterprise Integration Corp.
    ricker@trans-enterprise.com

    All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted in any form or by any means, electronic, mechanical, photocopying, recording or otherwise, without the prior written permission of the authors except that reproduction, storage or transmission without permission is permitted if all copies of the publication (or portions thereof) produced thereby contain a notice that the authors are the owners of the copyright therein.

    This document represents a proposal for a protocol standard.  This version has not been approved for adoption.  Future version may change substantially from this version.

       </xsd:documentation>
    </xsd:annotation>

    <!-- basic types ============ -->
    
    <xsd:simpleType name="resourceType">
        <xsd:restriction base="xsd:string">
           <xsd:enumeration value="Instance"/>
            <xsd:enumeration value="ProcessDefinition"/>
            <xsd:enumeration value="Observer"/>
            <xsd:enumeration value="Activity"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YesNoIfError">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Yes"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="IfError"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stateType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="open.notrunning"/>
            <xsd:enumeration value="open.notrunning.suspended"/>
            <xsd:enumeration value="open.running"/>
            <xsd:enumeration value="closed.completed"/>
            <xsd:enumeration value="closed.abnormalCompleted"/>
            <xsd:enumeration value="closed.abnormalCompleted.terminated"/>
            <xsd:enumeration value="closed.abnormalCompleted.aborted"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="eventType">
        <xsd:sequence>
        <xsd:element name="Time"      type="xsd:dateTime"/>
        <xsd:element name="EventType" type="xsd:int"/>
        <xsd:element name="Description" minOccurs="0" type="xsd:string"/>
        <xsd:element name="Actor"    type="userType" minOccurs="0"/>
        <xsd:element name="OldState" type="stateType"/>
        <xsd:element name="NewState" type="stateType"/>
        <xsd:element name="Transition" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="userType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>   

    <!-- headers ============ -->
    
    <xsd:element name="Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SenderKey" type="xsd:anyURI" minOccurs="0"/>
                <xsd:element name="ReceiverKey" type="xsd:anyURI"/>
                <xsd:element name="ResponseRequired" type="YesNoIfError"/>
                <xsd:element name="RequestID" type="xsd:anyURI" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="SenderKey" minOccurs="0"/>
                <xsd:element ref="ReceiverKey"/>
                <xsd:element ref="RequestID" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- properties ============= -->
    
    <xsd:group name="instanceProperties">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:anyURI"/>
            <xsd:element name="ResourceType" type="resourceType" maxOccurs="unbounded"/>
            <xsd:element name="State" type="stateType"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Subject" type="xsd:string"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element name="ReqestingUser" type="userType"/>
            <xsd:element name="AccessUsers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AccessUser" type="userType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ValidStates" type="stateType" maxOccurs="unbounded"/>
            <xsd:element name="FactoryKey" type="xsd:anyURI"/>
            <xsd:element name="Observers">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ObserverKey" type="xsd:anyURI" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ContextData" type="xsd:anyType"/>
            <xsd:element name="ResultData" type="xsd:anyType"/>
            <xsd:element name="Priority" type="xsd:int"/>
            <xsd:element name="LastModified" type="xsd:date"/>
            <xsd:element name="Activities">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ActivityKey" type="xsd:anyURI" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="History" type="eventType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="factoryProperties">
        <xsd:sequence>
            <xsd:element ref="Key"/>
            <xsd:element ref="ResourceType" maxOccurs="unbounded"/>
            <xsd:element ref="Name"/>
            <xsd:element ref="Subject"/>
            <xsd:element name="Description" type="xsd:string"/>
            <xsd:element ref="ValidStates" maxOccurs="unbounded"/>
            <xsd:element name="ContextDataSchema" type="schemaType"/>
            <xsd:element name="ResultDataSchema" type="schemaType"/>
            <xsd:element name="Expiration" type="xsd:duration"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="schemaType">
        <xsd:sequence>
            <xsd:any namespace="##other"/>
        </xsd:sequence>
        <xsd:attribute name="href" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:group name="observerProperties">
        <xsd:sequence>
            <xsd:element ref="Key"/>
            <xsd:element ref="ResourceType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="activityProperties">
        <xsd:sequence/>
    </xsd:group>
    
    <!-- messages =================== -->
    
    <xsd:element name="GetProperties.Request"/>
    <xsd:element name="GetProperties.Response">
        <xsd:complexType>
            <xsd:choice>
                <xsd:group ref="instanceProperties"/>
                <xsd:group ref="factoryProperties"/>
                <xsd:group ref="observerProperties"/>
                <xsd:group ref="activityProperties"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetProperties.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Subject"/>
                  <xsd:element name="Description" type="xsd:string"/>
                <xsd:element ref="State"/>
                <xsd:element ref="Priority"/>
                <xsd:element name="Data" type="xsd:anyType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SetProperties.Response">
        <xsd:complexType>
            <xsd:group ref="instanceProperties"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Terminate.Request"/>
    <xsd:element name="Terminate.Response">
        <xsd:complexType>
            <xsd:group ref="instanceProperties"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Subscribe.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ObserverKey"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Subscribe.Response"/>
    <xsd:element name="Unsubscribe.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ObserverKey"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Unsubscribe.Response"/>
    <xsd:element name="CreateInstance.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="StartImmediately" type="xsd:boolean"/>
                <xsd:element ref="ObserverKey" minOccurs="0"/>
                <xsd:element ref="Name" minOccurs="0"/>
                <xsd:element ref="Subject" minOccurs="0"/>
                   <xsd:element name="Description" type="xsd:string"/>
                <xsd:element name="ContextData" type="xsd:anyType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CreateInstance.Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InstanceKey" type="xsd:anyURI"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListInstances.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Filter" type="xsd:string"/>
                <xsd:element name="FilterType" type="xsd:NMTOKEN"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ListInstances.Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="InstanceKey" type="xsd:string"/>
                <xsd:element ref="Name" minOccurs="0"/>
                <xsd:element ref="Subject" minOccurs="0"/>
                <xsd:element ref="Priority" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Completed.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="InstanceKey"/>
                <xsd:element ref="ResultData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Completed.Response"/>
    <xsd:element name="Terminated.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Reason" type="xsd:string" minOccurs="0"/>
                <xsd:group ref="instanceProperties"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Terminated.Response"/>
    <xsd:element name="Notify.Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Event" type="eventType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Notify.Response"/>
</xsd:schema>
